# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
# tensorflow; sys_platform != 'darwin'
# tensorflow-macos; sys_platform == 'darwin'
# protobuf; sys_platform == 'darwin'
# wandb; sys_platform == 'darwin'

tensorflow-macos<=2.8.0; sys_platform == 'darwin' and 'ARM' in platform_version
protobuf<=3.20.1; sys_platform == 'darwin' and 'ARM' in platform_version
tensorflow==2.9.1; sys_platform == 'darwin' and 'ARM' not in platform_version
tensorflow==2.9.1; sys_platform != 'darwin'
xgboost

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
uvicorn
fastapi
pydantic

# utilities
six>=1.14
joblib
memoized-property
termcolor
kaggle
